html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/map.jpg');
    background-repeat: no-repeat;
}

#slide {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
    margin: 0 auto;
    text-align: center;
}

#question {
    position: relative;
    left: 150px;
    top: 165px;
    color: white;
}