html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

button {
    font-family: rupster;
}

.show {
    display: block;
}

.notShow {
    display: none;
}

video {
    margin-top: 35px;
    margin-left: 55px;
    width: 480px;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/map.jpg');
    background-repeat: no-repeat;
}

#slide {
    position: absolute;
    width: 600px;
    height: 402px;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    text-align: center;
    background-image: url('../img/list.png');
    background-repeat: no-repeat;
}

#question {
    font-family: palette;
    left: 50%;
    top: 50%;
    transform: translate(-50%,);
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: x-large;
}

@font-face {
    font-family: palette;
    src: url('../font/palette.ttf');
}

@font-face {
    font-family: rupster;
    src: url('../font/rupster_script_free.otf');
}

@font-face {
    font-family: scriptc;
    src: url('../font/scriptc_.ttf');
}

@font-face {
    font-family: scripts;
    src: url('../font/scripts_.ttf');
}